# Ignore directories
__pycache__/
.venv/
test/
tests/

# Ignore files
.env
chats.db

# Ignore everything in .streamlit
.streamlit/*
# But don't ignore config.toml 
!.streamlit/config.toml
# And don't ignore secrets.toml.example
!.streamlit/secrets.toml.example

# Ignore everything in auth
auth/*
# But don't ignore config.yaml.example
!auth/config.yaml.example
