# .streamlit/secrets.toml

[connections.postgresql] 
dialect = "postgresql" 
host = "localhost" 
port = "5432" 
database = "database_name" 
username = "username" 
password = "password"

[connections.postgresql.enc] 
dialect = "postgresql" 
host = "localhost" 
port = "5432" 
database = "database_name" 
username = "username" 
password = "password"
key = "supersecret_encryption_key"